{
    "tabWidth": 2,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "es5",
    "printWidth": 80,
    "overrides": [
      {
        "files": "*.css",
        "options": {
          "parser": "css",
          "tabWidth": 4
        }
      },
      {
        "files": "*.ts",
        "options": {
          "parser": "typescript"
        }
      }
    ]
  }